<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Autofill.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Autofill.Properties.Settings>
            <setting name="login" serializeAs="String">
                <value>535:427</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value>718:427</value>
            </setting>
            <setting name="login_text" serializeAs="String">
                <value>821012401599</value>
            </setting>
            <setting name="pass_text" serializeAs="String">
                <value>821012ww</value>
            </setting>
            <setting name="validation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="status" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="medorg" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="medotd" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="url" serializeAs="String">
                <value>https://eisz.kz/</value>
            </setting>
            <setting name="of_dir" serializeAs="String">
                <value />
            </setting>
            <setting name="bro_version" serializeAs="String">
                <value>12001</value>
            </setting>
            <setting name="w1" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="w2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="w3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="is_city" serializeAs="String">
                <value>True</value>
            </setting>
        </Autofill.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
